# Node modules
node_modules/
**/nonde_modules/

# Build output
dist/
build/

# Logs
*.log

# Mac system files
.DS_Store

# Environment variables
.env
*.env

# IDE specific files
.idea/
.vscode/

# Ignore lock files from sub-projects
**/package-lock.json